<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
    
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card class="Borde-card">
    <ion-card-header>
      <ion-card-title class="titl">Agregar un Nuevo libro</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Título del Libro</ion-label>
        <br>
        <ion-input placeholder="Ingresa el título"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Autor</ion-label>
        <br>
        <ion-input placeholder="Ingresa el nombre del autor"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <br>
        <ion-textarea placeholder="Ingresa una descripción"></ion-textarea>
      </ion-item>
      
      <ion-item>
        <ion-label>Subir pdf</ion-label>
        <ion-button class="CargarPDF" color="success"> Cargar PDF</ion-button>
      </ion-item>

      <ion-button expand="block" color="success">
        Agregar Libro
      </ion-button>
    </ion-card-content>

   
  </ion-card>

</ion-content>
