.sin-B-card {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px; 
}

.sin-B-icono {
  font-size: 40px;
  color: gray; 
  margin-bottom: 10px;
}

.sin-B-mensaje {
  font-size: 18px;
  color: gray; 
}
